# Djanog ignore files:
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# log files
*.log

# Django specific
*.pot
local_settings.py
db.sqlite3
media/
static/

# System files
.DS_Store

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# VS Code
.vscode/

# Packages
node_modules/

# Temp files
tmp/
temp/
*.tmp

# ******************************************

# React ignore files
# Build output
dist/

# Caches and temp files
.vite/
.env.local
.DS_Store
*.log

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln