body {
    background-color: rgb(0, 0, 0);
    /*width: 100vw;*/
}

#tester {
    color: rgb(255, 63, 152);
    z-index: 100;
}

.image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.flex-hp-images-container {
    display: flex;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    position: absolute;
    left: 1%;
    right: 1%;
}

.flex-hp-image {
    width: 150px;
    height: 225px;
}