.mixed-project-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "heading heading heading heading heading heading heading"
        "menu-pop-out main-image main-image main-image main-image updates r-side"
        "menu-pop-out docs vids pics demo updates r-side"
        "menu-pop-out docs vids pics demo updates r-side"
        "menu-pop-out blank blank blank blank updates r-side";
    grid-template-columns: 250px 200px 200px 200px 200px 425px auto;
    grid-template-rows: 75px 40% 40% auto;
}

div {
    color: white;
}

.mixed-project-container > div.menu-pop-out {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: menu-pop-out;
    /*width: 75px;*/
    z-index: 100;
}

.mixed-project-container > div.main-image {
    background-color: rgb(199, 24, 24);
    grid-area: main-image;
    position: relative;
    top: 20px;
    left: 100px;
    text-align: center;
    margin: 2px;
    width: 600px;
    height: 200px;
    
}

.title {
    background-color: #e541e5;
    color: #3d183d;
    position: relative;
    bottom: -75px;
    right: -250px;
    max-width: 300px;
    overflow: hidden;
}

.item-container {
    background-color: rgb(24, 71, 199);
    display: flex;
    flex-direction: row;
}

.mixed-project-container > div.docs {
    background-color: rgb(199, 24, 24);
    grid-area: docs;
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 25%;
    z-index: 10;
}

.mixed-project-container > div.vids {
    background-color: rgb(199, 24, 24);
    grid-area: vids;
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 25%;
    z-index: 10;
}

.mixed-project-container > div.pics {
    background-color: rgb(199, 24, 24);
    grid-area: pics;
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 25%;
    z-index: 10;
}

.mixed-project-container > div.demo {
    background-color: rgb(199, 24, 24);
    grid-area: demo;
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    left: 25%;
    z-index: 10;
}

.mixed-project-container > div.updates {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: updates;
}

.mixed-project-container > div.heading {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: heading;
}

.mixed-project-container > div.r-side {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: r-side;
}

.mixed-project-container > div.blank {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: blank;
}

/* for the words inside the pop-up squares */
.inner-words {
    font-size: 12px;
    padding: 5px;
}

/* moving elements */

#docs-div {
    background-color: purple;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
}

#vids-div {
    background-color: purple;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;

}

#pics-div {
    background-color: purple;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;

}

#demo-div {
    background-color: purple;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
}