.mixed-project-container {
    background-color: #023C45; /*    background-color: #023C45;*/
    width: 100vw;
    height: 120vh; /**/
    display: grid;
    grid-template-areas: 
        "heading heading heading heading heading heading heading"
        "a-side menu-pop-out m-side main-title l-side updates r-side"
        "a-side menu-pop-out m-side main-image l-side updates r-side"
        "a-side menu-pop-out m-side pop-ups l-side updates r-side"
        "a-side menu-pop-out m-side project l-side updates r-side"
        "blank blank blank blank blank blank blank";
    grid-template-columns: auto 250px auto 800px auto 425px auto;
    grid-template-rows: 55px 60px 300px 75px 175px 100px; /*go back to make TopNav 55px height like the home page*/
}


.mixed-project-container > div.menu-pop-out {
    grid-area: menu-pop-out;
    background-color: rgba(255,255,255,10%);
    border-color: #1b4f57;
    border-radius: 5px;
}

.menu-boot {
    margin: 4px;
    border-color: #20E1B1;
    --bs-accordion-bg: #023c45;
    --bs-accordion-active-bg: #0d2f35;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-active-color: #20E1B1;
    --bs-accordion-border-color: #1b4f57;
    --bs-body-bg-color: #20e1b1;
    --bs-accordion-body-padding-y: 0px;
    --bs-accordion-body-padding-x: 0px;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 2px rgba(79, 249, 220, 0.25);
}

.mixed-project-container > div.pop-ups {
    background-color: #023C45;
    grid-area: pop-ups;
}

.mixed-project-container > div.main-image {
    background-color: #023C45;
    grid-area: main-image;
    margin: 18px;
    width: 760px;    
    /*border: solid 2px #f6511d;*/
}

.mixed-project-container > div.main-title {
    background-color: rgba(255,255,255,10%);
    grid-area: main-title;
    color: #20E1B1;
    font-size: 36px;
    font-weight: 600;
    padding: 5px;
    padding-left: 15px;
    line-height: 50px;
    width: 796px;
    border-radius: 5px;
}

.item-container {
    background-color: #023C45;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 796px;
    height: 75px;
}

.item-container > div.docs {
    background-color: #023C45;
    color: white;
    grid-area: docs;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 75px;
    height: 75px;
}

.item-container > div.vids {
    background-color: #023C45;
    color: white;
    grid-area: vids;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 75px;
    height: 75px;
}

.item-container > div.pics {
    background-color: #023C45;
    color: white;
    grid-area: pics;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 75px;
    height: 75px;
}

.item-container > div.demo {
    background-color: #023C45;
    color: white;
    grid-area: demo;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 75px;
    height: 75px;
}

.mixed-project-container > div.updates {
    background-color: rgba(255,255,255,10%);
    grid-area: updates;
    color: #defff7;
    /*border: solid 2px #defff7;*/
    border-radius: 5px;
}

.mixed-project-container > div.heading {
    background-color: #023C45;
    /*margin: 2px;*/
    grid-area: heading;
}

.mixed-project-container > div.r-side {
    background-color: #023C45;
    /*margin: 2px;*/
    grid-area: r-side;
}

.mixed-project-container > div.l-side {
    background-color: #023C45;
    /*margin: 2px;*/
    grid-area: l-side;
}

.mixed-project-container > div.m-side {
    background-color: #023C45;
    /*margin: 2px;*/
    grid-area: m-side;
}

.mixed-project-container > div.a-side {
    background-color: #023C45;
    /*margin: 2px;*/
    grid-area: a-side;
}

.mixed-project-container > div.blank {
    background-color: #023C45;
    /*margin: 2px;*/
    grid-area: blank;
    max-height: 100px;
}

.mixed-project-container > div.project {
    background-color: #defff7;
    color: #023C45;
    margin: 2px;
    grid-area: project;
    border-radius: 5px;
}

.inner-description {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    height: 171px;
    width: 796px;
}

.menu-container {
    background-color: #ffffff;
    color: #023C45;
    padding: 20px;
    padding-left: 30px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-container-last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lists {
    position: relative;
    bottom: 2px;
}

.project-list {
    cursor: pointer;
}

.icons {
    padding-top: 8px;
}

.slider {
    font-size: 400px;
    position: relative;
    z-index: 100;
}

/* for the words inside the pop-up squares */
.inner-words {
    font-size: 12px;
    padding: 5px;
    background-color: #023C45;
    width: 75px;
    text-align: center;
    cursor: pointer;
}

/* moving elements */
#docs-div {
    background-color: #023C45;
    position: absolute;
    width: 75px;
    height: 75px;
}

#vids-div {
    background-color: #023C45;
    position: absolute;
    width: 75px;
    height: 75px;

}

#pics-div {
    background-color: #023C45;
    position: absolute;
    width: 75px;
    height: 75px;

}

#demo-div {
    background-color: #023C45;
    position: absolute;
    width: 75px;
    height: 75px;
}

#updates-title {
    padding-left: 6px;
    font-size: 22px;
    color: #20E1B1;
}

#project-title {
    color: #1aa784;
}

#slider-button {
    background-color: #023C45;
}

#closer {
    width: 35px;
    height: 20px;
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: -25px;
}

#panel-title {
    text-align: right;
    background-color: #1b4f57;
    color: #20E1B1;
}

.slide-pane__header {
  display: flex;
  flex: 0 0 64px;
  align-items: center;
  background: #1b4f57 !important;
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}