.mixed-project-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "menu-pop-out heading heading heading heading heading r-side"
        "menu-pop-out main-image main-image main-image main-image updates r-side"
        "menu-pop-out item-container item-container item-container item-container updates r-side"
        "menu-pop-out blank blank blank blank updates r-side";
    grid-template-columns: 5% 200px 200px 200px 200px 30% auto;
    grid-template-rows: 50px 40% 40% auto;
    /*align-items: center;*/
}

div {
    color: white;
}

.mixed-project-container > div.menu-pop-out {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: menu-pop-out;
}

.mixed-project-container > div.main-image {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: main-image;
    position: relative;
    top: 20px;
    left: 37.5%;
    text-align: center;
    width: 200px;
    height: 200px;
}

.item-container {
    height: 100px;
    width: 800px;
    background-color: rgb(24, 71, 199);
    display: flex;
    flex-direction: row;
}

.mixed-project-container > div.docs {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: docs;
    position: relative;
    display: flex;
    align-items: center;
    left: 25%;
    width: 105px;
    height: 105px;
    z-index: 10;
}

.mixed-project-container > div.videos {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: videos;
    position: relative;
    display: flex;
    align-items: center;
    left: 25%;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.mixed-project-container > div.photos {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: photos;
    position: relative;
    display: flex;
    align-items: center;
    left: 25%;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.mixed-project-container > div.journals {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: journals;
    position: relative;
    display: flex;
    align-items: center;
    left: 25%;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.mixed-project-container > div.updates {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: updates;
}

.mixed-project-container > div.heading {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: heading;
}

.mixed-project-container > div.r-side {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: r-side;
}

.mixed-project-container > div.blank {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: blank;
}

/* moving elements */

#docs-div {
    background-color: purple;
    position: relative;
    top: 0px;
    width: 100px;
    height: 100px;
}

#vids-div {
    background-color: purple;
    position: relative;
    width: 100px;
    height: 100px;
}

#pics-div {
    background-color: purple;
    position: relative;
    width: 100px;
    height: 100px;
}

#journals-div {
    background-color: purple;
    position: relative;
    width: 100px;
    height: 100px;
}