.profile-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "menu heading heading  heading"
        "menu profile todo r-side"
        "menu items todo r-side"
        "menu blank blank r-side";
    grid-template-columns: 20% 640px 25% auto;
    grid-template-rows: 10% 320px 35% auto;
}

.layout-element {
    background-color: rgb(199, 24, 24);
    margin: 2px;
}

.profile-container > div.menu {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: menu;
}

.profile-container > div.heading {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: heading;
}

.profile-container > div.profile {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: profile;
}

.profile-container > div.items {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: items;
}

.profile-container > div.r-side {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: r-side;
}

.profile-container > div.blank {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: blank;
}

.profile-container > div.todo {
    background-color: rgb(199, 24, 24);
    margin: 2px;
    grid-area: todo;
}
