body {
    background-color: rgb(0, 0, 0);
    /*width: 100vw;*/
}

#tester {
    color: rgb(255, 63, 152);
    z-index: 100;
}

.image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.flex-hp-images-container {
    display: flex;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    position: absolute;
    left: 1%;
    right: 1%;
}

.flex-hp-image {
    width: 150px;
    height: 225px;
}

/*Order: 0 28 10 18 20 7 14 11 8 22 2 12 29 3 23 21 29 13 24 15 4 25 16 9 26 17 27 5 1 6 19*/

#hp0 {
    /*opacity: 50%;*/
    animation-name: hp0;
    animation-delay: 2s;
    animation-duration: 1s;
}

#hp28 {
    /*opacity: 50%;*/
    animation-name: hp28;
    animation-delay: 4s;
    animation-duration: 1s;
}

#hp10 {
    /*opacity: 50%;*/
    animation-name: hp10;
    animation-delay: 6s;
    animation-duration: 1s;
}

#hp18 {
    /*opacity: 50%;*/
    animation-name: hp18;
    animation-delay: 8s;
    animation-duration: 1s;
}

#hp20 {
    /*opacity: 50%;*/
    animation-name: hp20;
    animation-delay: 10s;
    animation-duration: 1s;
}

/*Order: 0 28 10 18 20 7 14 11 8 22 2 12 29 3 23 21 29 13 24 15 4 25 16 9 26 17 27 5 1 6 19*/

#hp7 {
    /*opacity: 50%;*/
    animation-name: hp7;
    animation-delay: 12s;
    animation-duration: 1s;
}

#hp14 {
    /*opacity: 50%;*/
    animation-name: hp21;
    animation-delay: 14s;
    animation-duration: 1s;
}

#hp11 {
    /*opacity: 50%;*/
    animation-name: hp11;
    animation-delay: 16s;
    animation-duration: 1s;
}

#hp8 {
    /*opacity: 50%;*/
    animation-name: hp8;
    animation-delay: 18s;
    animation-duration: 1s;
}

#hp22 {
    /*opacity: 50%;*/
    animation-name: hp22;
    animation-delay: 20s;
    animation-duration: 1s;
}

/*Order: 0 28 10 18 20 7 14 11 8 22 2 12 29 3 23 21 29 13 24 15 4 25 16 9 26 17 27 5 1 6 19*/

#hp2 {
    /*opacity: 50%;*/
    animation-name: hp2;
    animation-delay: 22s;
    animation-duration: 1s;
}

#hp12 {
    /*opacity: 50%;*/
    animation-name: hp12;
    animation-delay: 24s;
    animation-duration: 1s;
}

#hp29 {
    /*opacity: 50%;*/
    animation-name: hp29;
    animation-delay: 26s;
    animation-duration: 1s;
}

#hp3 {
    /*opacity: 50%;*/
    animation-name: hp3;
    animation-delay: 28s;
    animation-duration: 1s;
}

#hp23 {
    /*opacity: 50%;*/
    animation-name: hp23;
    animation-delay: 30s;
    animation-duration: 1s;
}

/*Order: 0 28 10 18 20 7 14 11 8 22 2 12 29 3 23 21 29 13 24 15 4 25 16 9 26 17 27 5 1 6 19*/

#hp21 {
    /*opacity: 50%;*/
    animation-name: hp14;
    animation-delay: 32s;
    animation-duration: 1s;
}

#hp29 {
    /*opacity: 50%;*/
    animation-name: hp29;
    animation-delay: 34s;
    animation-duration: 1s;
}

#hp13 {
    /*opacity: 50%;*/
    animation-name: hp13;
    animation-delay: 36s;
    animation-duration: 1s;
}

#hp24 {
    /*opacity: 50%;*/
    animation-name: hp24;
    animation-delay: 38s;
    animation-duration: 1s;
}

#hp15 {
    /*opacity: 50%;*/
    animation-name: hp15;
    animation-delay: 40s;
    animation-duration: 1s;
}

/*Order: 0 28 10 18 20 7 14 11 8 22 2 12 29 3 23 21 29 13 24 15 4 25 16 9 26 17 27 5 1 6 19*/

#hp4 {
    /*opacity: 50%;*/
    animation-name: hp4;
    animation-delay: 42s;
    animation-duration: 1s;
}

#hp25 {
    /*opacity: 50%;*/
    animation-name: hp25;
    animation-delay: 44s;
    animation-duration: 1s;
}

#hp16 {
    /*opacity: 50%;*/
    animation-name: hp16;
    animation-delay: 46s;
    animation-duration: 1s;
}

#hp9 {
    /*opacity: 50%;*/
    animation-name: hp9;
    animation-delay: 48s;
    animation-duration: 1s;
}

#hp26 {
    /*opacity: 50%;*/
    animation-name: hp26;
    animation-delay: 50s;
    animation-duration: 1s;
}

/*Order: 0 28 10 18 20 7 14 11 8 22 2 12 29 3 23 21 29 13 24 15 4 25 16 9 26 17 27 5 1 6 19*/

#hp17 {
    /*opacity: 50%;*/
    animation-name: hp17;
    animation-delay: 52s;
    animation-duration: 1s;
}

#hp27 {
    /*opacity: 50%;*/
    animation-name: hp27;
    animation-delay: 54s;
    animation-duration: 1s;
}

#hp5 {
    /*opacity: 50%;*/
    animation-name: hp5;
    animation-delay: 56s;
    animation-duration: 1s;
}

#hp1 {
    /*opacity: 50%;*/
    animation-name: hp1;
    animation-delay: 58s;
    animation-duration: 1s;
}

#hp6 {
    /*opacity: 50%;*/
    animation-name: hp6;
    animation-delay: 60s;
    animation-duration: 1s;
}

#hp19 {
    /*opacity: 50%;*/
    animation-name: hp19;
    animation-delay: 62s;
    animation-duration: 1s;
}

@keyframes hp0 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp28 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp10 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp18 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp20 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp7 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp21 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp11 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp8 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp22 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp2 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp12 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp29 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp3 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp23 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp13 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp29 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp14 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp24 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp15 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp4 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp25 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp16 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp9 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp26 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp17 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp27 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp5 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp1 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes hp6 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hp19 {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0, 1);
    }
    
    100% {
        transform: scale(1);
    }
}