

.updates-container {
    max-width: 415px;
    height: auto;
    background-color: #ffffff;    
    margin: 6px;
    padding: 5px;
    color: #023C45;
    /*border: solid 2px #bedee3;*/
    border-radius: 5px;
}

.date {
    width: 200px;
}

.top-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #1aa784;
    font-weight: 400;
}