

.updates-container {
    max-width: 417px;
    height: auto;
    background-color: #023c45;
    margin: 2px;
    padding: 5px;
}

.circle {
    background-color: #20e1b1;
    border-radius: 50px;
    width: 25px;
    text-align: center;
}