#root {
  background-color: bisque;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.title-name {
  background-color: red;
  text-align: left;
  position: absolute;
  left: 255px;
  top: 175px;
}

.left-menu {
  background-color: black;
  height: 100vh;
  width: 250px;;
  position: absolute;
  top: 0px;
  left: 0px;
}

